@charset "utf-8";

#display {
    width: 14.5em;
}

.is-number, .is-operation {
    margin: 0.25em;
    width: 2.5em;
}

@media only screen and (min-width: 445px){
    .is-number, .is-operation {
        width: 4em;
    }
    #display {
        width: 22em;
    }
}

@media only screen and (max-width: 307px){
    .is-number, .is-operation {
        width: 2.2em;
    }
    #display {
        width: 13em;
    }
}